#headline {
    background-color: #558C89;
    color: white;
}

#Schuldeneintreiber_link {
    background-color: #74AFAD;
}

.complete_grid {
    background-color: #74AFAD;
    margin-top: -8.1px;
}

